*{
    box-sizing: border-box;
  }
  body{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #001B5B;
    overflow-x: hidden;
  }
  button,
  textarea,
  button:hover{
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: none;
  }
  input{
    outline: none;
    border: none;
  }
  h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    padding: 0;
    margin: 0;
  }
  ul, li{
    display: block;
    padding: 0;
    margin: 0;
  }
  .header{
    padding-top: 10px;
  }
  a{
    text-decoration: none;
    font-weight: 700;
    color: #001B5B;
  }
  a:hover{
    color: #001B5B;
  }
  img{
    max-width: 100%;
    object-fit: cover;
    display: block;
  }
  .title{
    font-weight: 700;
    font-size: 48px;
  }

  .butn{
    background: #2655C5;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    padding: 14px 0;
    display: block;
    width: 228px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .butn:hover{
    box-shadow: 0px 4px 22px rgba(62, 101, 192, 0.64);
    transition: all 0.5s ease;
    color: #fff;
  }
  .menu{
    position: relative;
  }
  .menu__active{
    margin-bottom: 0;
    border-bottom: 2px solid #4F78D9;
  }
  .menu__item {
    margin-right: 30px;
    transition: all 0.5s ease;
  }
  .menu__item_link {
    font-size: 15px;
    color: #4F78D9 !important;
    font-weight: 700;
  }
  .menu__item_link:hover{
    color: #4F78D9;
    border-bottom: 2px solid #4F78D9;
  }
 .theme__title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #001B5B;
 }
 .burger-btn{
    display: none;
    z-index: 99999;
    margin-top: 20px;
  }
  .burger{
      height: 100%;
      width: 50%;
      background: #fff;
      position: absolute;
      z-index: 9999;
      right: 0;
      top: 0;
      padding: 22px;
      display: none;
      box-shadow: 0px -20px 56px rgba(0, 0, 0, 0.25);
  }
  .title{
    text-align: center;
    color: #001B5B;
    font-weight: 700;
    font-size: 32px;
  }

.wrap__title{
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #001B5B;
  width: 680px;
}
.wrap__btn{
   margin-top: 30px;
}
.home-header{
  overflow-x: hidden;
  padding-top: 120px;
}
.dropbtn {
  color: #4F78D9;
  font-size: 15px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 13px;
  left: -50px;
}
.dropdown{
  margin-top: 18px;
  margin-right: 30px;
}
.dropdown-content a {
  color: #4F78D9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 13px;
  font-weight: 500;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu__item_dropdown{
  font-size: 14px !important;
  margin-top: -10px !important;
  color: #275cd8;
  font-weight: 800 !important;
}
.energy-business{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  max-width: 900px;
  margin: 200px auto 0;
  line-height: 30px;
}
.energy-business_color{
  color: #2655C5;
  font-weight: 500;
}
.energy-title{
  margin-top: 94px;
  margin-bottom: 50px;
}
.cart__item{
  max-width: 370px;
  width: 100%;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s ease;
}
.cart__title{
  text-align: center;
  color: #2655C5;
  font-weight: 500;
  font-size: 20px;  
}
.contacts{
  padding-top: 170px;
}
.contact{
  background: #E9EFFF;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  text-align: center;
  max-width: 710px;
  margin: 0 auto;
  padding: 57px 0 70px 0;
  margin-top: 50px;
}
.cart__item_img{
  max-width: 250px;
  margin: 0 auto;
}
.cart__item_arrow{
  margin: 15px auto;
}
.cart__item:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.mail, .tel, .adress, .time{
  color: #000;
  font-weight: 400;
  font-size: 20px;
}
.adress{
  margin-top: 50px;
}

.telephones{
  max-width: 250px;
}
.time{
  max-width: 260px;
  margin: 43px auto 0;
}
.menu__item_footer{
  margin-right: 30px;
}
.footer{
  background: #0E008F;
  color: #fff;
  padding: 30px 0;
}
.menu__item_footer a{
  color: #fff;
  font-size: 15px;
  font-weight: 700;

}
.footer__logo{
  font-weight: 800;
  font-size: 12px;
  color: #fff;
}
.footer__logo:hover{
  color: #fff;
}
.footer__menu{
  margin: 0 auto;
}
 /* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .cart {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .cart__item{
    margin-bottom: 40px;
    margin-right: 30px;
  }
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .footer__menu{
      flex-wrap:wrap; 
      text-align: center;
    }
    .wrap__title{
      max-width: 650px;
    }
    .cont {
      flex-wrap: wrap;
    }
    .burger.active{
      display: block;
    }
    .theme_burger{
      justify-content: center;
      margin-top: 40px;
    }
    .menu_burger{
      margin-top: 50%;
    }
    .menu__item_burger{
      text-align: center;
      
    }
    .menu__item_burger a{
      font-size: 18px;
      margin-bottom: 20px;
      color: #3E65C0;
      font-weight: 500;
      text-align: center;
    }

    .burger-btn{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      background: none;
    }
    .burger-btn::before,
    .burger-btn::after{
      content: '';
      background-color: #001B5B;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.4s ease;
    }
    .burger-btn::before{
      top: 0;
    }
    .burger-btn::after{
      bottom: 0;
    }
    .burger-btn span{
      position: absolute;
      background-color: #001B5B;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.4s ease;
    }
    .burger-btn.active::before{
      transform: rotate(45deg);
      top: 9px;
      transition: all 0.4s ease;
    }
    .burger-btn.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
      transition: all 0.4s ease;
    }
    .burger-btn.active span{
      transform: scale(0);
      transition: all 0.3s ease;
    }

  }
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .menu__item_footer a{
      font-size: 14px;
    }
    .menu__item_footer{
      margin-right: 15px;
    }
    .wrap__title{
      font-size: 32px;
      line-height: 1.4em;
    }
    .contacts{
      padding-top: 50px;
    }
    .energy-business{
      margin-top: 40px;
      font-size: 14px;
    }
    .wrap__btn{
      margin-top: 15px;
    }
    .cart__item{
      margin-right: 0;
    }
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .wrap__title{
      font-weight: 800;
      font-size: 28px;
    }
  }
/*about us*/
.maps{
  padding-bottom: 78px;
}
.offer__text{
  font-size: 20px;
  max-width: 600px;
  margin-bottom: 30px;
} 
.offer__text_color{
  font-weight: 800;
  font-size: 24px;
} 
.section-about{
  padding: 200px 0 150px 0;
}
.map__title{
  font-size: 28px;
}
.map__img{
  margin: 55px auto 0;
}

  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .map__btn{
      margin: 0 auto;
    }
    .offer__img{
      margin: 0 auto;
    }
  }
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .offer__text{
      font-size: 14px;
    }
    .map__title{
      font-size: 23px;
    }
  }
  /*electrical*/
  .contents__title{
    max-width: 500px;
    text-align: left;
    font-size: 48px;
  }
  .section-energy{
    padding-top: 100px;
  }
  .offers__text{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .offers__title{
    text-align: left;
    font-size: 20px;
  }
  .offers__list{
    font-size: 18px;
    font-weight: 600;
    color: #0E008F;
    margin-left: 10px;
    margin-top: 14px;
  }
  .offers__list li{
    margin-bottom: 15px;
  }
  .section-energy-bottom{
    padding-top: 180px;
    padding-bottom: 140px;
  }
  .offers__butn{
    width: 290px;
    margin: 40px auto 0;
  }
   /* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .offers{
    flex-wrap: wrap;
    justify-content: center;
  }
  .offers__text{
    text-align: center;
  }
  .contents {
    flex-wrap: wrap;
  }
  .contents__title{
    text-align: center;
    margin: 0 auto;
  }
  }
  
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {

  }
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .contents__title{
      font-size: 38px;
    }
    .offers__text{
      font-size: 16px;
    }
    .offers__list li{
      font-size: 15px;
    }
  }
  
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .offers__butn{
      font-size: 15px;
      width: 250px;
    }
    .contents__title {
      font-size: 28px;
    }
    .section-energy-bottom{
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
.conditions{
  padding-top: 50px;
  padding-bottom: 160px;
}
.condition__btn img{
  margin-left: 15px;
  transition: all 0.5s ease;
  height: 25px;

}
.condition__btn{
  height: 53px;
}
.condition__btn img:hover{
  margin-top: 8px;
  transition: all 0.5s ease;
}
.condition__title{
  font-size: 48px;
  margin-bottom: 30px;
}